*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  #loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f9fb;
    transition: opacity 0.7s, visibility 0.7s;

    &::after{
      content: '';
      width: 75px;
      height: 75px;
      border: 15px solid #dddddd;
      border-top-color: rgb(54, 106, 219);
      border-radius: 50%;
      animation: loading 0.75s ease infinite;
    }
  }

  @keyframes loading{
    from{
      transform: rotate(0turn);
    }to{
      transform: rotate(1turn);
    }
  }

  .loader-hidden{
    opacity: 0;
    visibility: hidden;
  }
  
  #sfondo-title-container{
    display: flex;
    justify-content: center;
    background: #3E54AC;
    
    padding: 20px;
    justify-content: space-around;

    #title-container{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;


      h1{
        text-align: center;
        color: white;
        font-weight: 700;
        margin-bottom: 0px;
      }

      p{
        display: flex;
        justify-content: center;
        text-align: center;
        margin-bottom: 0px;
        padding: 10px;
        color: white;
        font-weight: 700;
      }

    }
  }

  #page-container{

    #news-div{
      display: flex;
      justify-content: center;
      margin: 3% 12%;
      border: 2px solid rgb(54, 106, 219);
      background: rgb(194, 213, 251);
      border-radius: 5px;
      
      #news-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px 0px;
  
        #title-container{
          display: flex;
          justify-content: center;
  
          #title-value{
            text-align: center;
            font-size: 22px;
            font-weight: bold;
            margin-bottom: 16px;
          }
        }
  
        #date-value{
          text-align: center;
          font-size: 18px;
          margin-bottom: 16px;
        }
  
        #url-value{
          text-decoration: none;
          text-align: center;
          color: black;
          background: white;
          border: 2px solid rgb(54, 106, 219);
          padding: 3px 15px;
          border-radius: 5px;
          transition: 0.3s all;
  
          &:active{
            color: white;
            background-color: rgb(54, 106, 219);
          }
        }
  
        #url-null{
          text-decoration: none;
          font-weight: bold;
          font-size: 18px;
          cursor: auto;
          color: black;
          background: rgb(194, 213, 251);
          padding: 3px 15px;
          border: none;
        }
      }
    }
  }
  
  #load-more-container{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    #load-more-btn{
      cursor: pointer;
      display: flex;
      text-decoration: none;
      text-align: center;
      align-items: center;
      color: black;
      background: white;
      border: 2px solid rgb(54, 106, 219);
      padding: 4px 16px;
      border-radius: 5px;
      font-size: 18px;
      font-weight: bold;
      transition: 0.3s all;

      &:active{
        color: white;
        background-color: rgb(54, 106, 219);
      }
      
      #loading-text{
        margin-bottom: 0px;
      }
    }
  }
  
  #loading{
    display: inline-block;
    width: 25px;
    height: 25px;
  }

  .loading-visible{
    display: inline-block;
    width: 20px;
    height: 20px;

    border: 3px solid rgba(255,255,255,.5);
    border-radius: 50%;
    border-top-color: rgb(54, 106, 219);
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
  }

  @keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }
  @-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }

  .loading-hidden{
    width: 0px;
    height: 0px;
    opacity: 0;
    visibility: hidden;
  }
  
 

  footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: rgb(194, 213, 251);
    border-top: 2px solid rgb(54, 106, 219);

    #footer-date{
      margin-bottom: 0;
    }
  }
}

@media (max-width: 900px){
  body{
    .sfondo-title-container{
      flex-direction: column;
      padding: 10px;
    }
  
    #page-container{
  
      #news-div{
        margin: 5% 10%;

        #news-container{

          #title-container{
            padding: 0px 10px;

            #title-value{
              font-size: 16px;
              margin-bottom: 10px;
            }
          }

          #date-value{
            padding: 0px 10px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}